/* Colors */
:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --gray-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

/* CSS Reset */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  height: 45%;
  flex-basis: 50%;
  border-radius: 15px;
  padding: 15px;
}

.qr-code-img {
  display: block;
  margin: 0 auto;
  border-radius: 16px;
  width: 90%;
  margin-top: 16px;
}

.qr-body {
  font-family: sans-serif;
  margin: 0 auto;
  width: 90%;
  padding: 25px;
}

.qr-body h2 {
  font-weight: bold;
  text-align: center;
  color: var(--dark-blue);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--dark-blue);
  text-align: center;
  font-size: 1.5rem;
}

.qr-body p {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 100%;
  padding: 20px;
  font-size: 1rem;
  color: var(--light-gray);
  text-align: center;
  gap: 18px;
}

@media only screen and (max-width) {
  .container {
    width: 90%;
  }
  .qr-code-img {
    width: 90%;
  }
}
